<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yukari.mapper.BulletHistoryMapper">

  <!--<select id="getAllBulletHistory" resultType="BulletHistory">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    <include refid="Base_Table" />
    WHERE 1=1
  </select>-->

  <select id="queryBulletRankByRange" resultType="java.util.Map">
    SELECT uid,uname,headIcon_url,COUNT(uid) AS 'count'
    FROM dy_bullet_histoy_196
    WHERE date BETWEEN #{startTime} AND #{endTime} GROUP BY uid ORDER BY COUNT(uid) DESC LIMIT 0,8
  </select>

  <select id="getByUid" resultType="com.yukari.model.BulletHistory">
    SELECT uid,uname,fans_card_name,fans_card_level,content,date FROM dy_bullet_histoy_196
    WHERE uid = #{uid} AND date BETWEEN #{startTime} AND #{endTime}
    ORDER BY date DESC
  </select>


</mapper>