<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yukari.dydanmuapi.mapper.GiftRadioMapper" >
  <sql id="Base_Column_List" >
    id, room_id, giver, anchor_name, gift_id, gift_name, amount, gift_style, date
  </sql>

  <sql id="Base_Table">
    dy_gift_radio
  </sql>

  <select id="getGiftRadiosByTime" parameterType="java.lang.String" resultType="com.yukari.dydanmuapi.model.GiftRadio">
    SELECT
    <include refid="Base_Column_List"/>
    FROM
    <include refid="Base_Table"/>
    WHERE date > #{boxEndTime}
  </select>


</mapper>